
$font-family: "Raleway", sans-serif;
$content-width: 396px;
$container-offset: 15px;
$container-width: $content-width + $container-offset * 2;
  
// colors
$light-color: #fff;
$dark-color: #171215;
$accent-color: #37bd6b;
$bg-green-color: #37bd6b33;
$wild-sand-color: #f6f6f6;
$silver-color: #ccc;
$silver-chalice-color: #a6a6a6;
$gray-color: #939393;
$dark-gray-color: #7d7d7d;
$alabaster-color: #fbfbfb;
$red-color: rgba(190, 42, 42, 0.68);

$br: 100px;
$accent-br: 3px;